<div class="content">
<div class="subTopNav">
	<ul>
		<li><a href="#guild/{{id}}/current_war">War</a></li>
		<li><a href="#guild/{{id}}/last_wars">Last wars</a></li>
		<li><a href="#guild/{{id}}/members">Members</a></li>
	</ul>
</div>
<p>
	Infos on current war
</p>
</div>
