<div class="firstConnexion">
  <div class="nickname">
    <label class="status" for="nickname">Choose your nickname</label>
    <input class="input" type="text" id="nickname" name="nickname" minlength="2" maxlength="26" value={{nickname}}>
    <p class="error-message">{{message}}</p>
  </div>

  <div class="avatar">
    <label class="status" >Choose your avatar</label>
      <label>
      <input type="file"  accept="image/*" name="image" id="file"  style="display: none;">
      <img class="image" alt="avatar" src="{{image_url}}" id="output" width="200" style="cursor: pointer;" />
    </label>
  </div>
  <button class="validate">Validate</button>
</div>
