{{#each groceries}}
    <div class='grocery-item'>
    <p>Item: {{this.item}} </p>
    </div>
{{/each}}

<ul id="navbar">
        <li id="home_button"><a href="#home">Home</a></li>
        <li id="users_button"><a href="#users">Users</a></li>

        <p>{{welcome}}</p>
</ul>