<div class="content">
	<div id="profilePannel"></div>
	<div id="profileSubNavBar"></div>
	<span> User {{name}} doesn't belong in any guild, this view was implented quickly, it might change </span>
</div>
