<div class="oauth">
    <h1 class="logo"></h1>
    <button class="signIn"
    onclick="window.location.href='/auth/marvin?auth_origin_url=' + http://p42ng.herokuapp.com/ + '#connexion'"></button>
</div>