<div class="topnav">
  <a class="btn logo" href="#home"></a>
  <a class="btn tournaments" href="#tournaments">Tournaments</a>
  <a class="btn" href="#leaderboard">Leaderboard</a>
  <a class="btn guilds" href="#guilds">Guilds</a>
  <a class="span"></a>
  <a class="chat" href="#chat"></a>
  <a href="#user_page">
    <img src={{profile_pic}} class="profile_pic"></img>
    <a class="btn user" href="#user_page">{{user}}</a>
  </a>
  <a class="exit" href="#exit"></a>
</div>
