<div class="topnav">
  <div class="left-menu">
    <a class="topnav-btn logo" href="#home"></a>
    <a class="topnav-btn" href="#tournaments">Tournaments</a>
    <a class="topnav-btn" href="#leaderboard">Leaderboard</a>
    <a class="topnav-btn" href="#guilds">Guilds</a>
  </div>
  <div class="right-menu">
    <a class="topnav-btn chat" href="#chat"></a>
    <a class="user-page">
      <a class="topnav-btn profile_pic" href="#user_page"></a>
      <a class="topnav-btn user" href="#user_page">{{user}}</a>
    </a>
    <a class="topnav-btn exit" href="#exit"></a>
  </div>
</div>
