<div class="two_factor">
    <p id="two_factor_error">{{ message }}</p>
    <p id="two_factor_message">Enter your code:</p>
    <input class="input" type="text" id="code" name="code" minlength="6" maxlength="6">
    <button class="validate">validate</button>
</div>
