<div class="content">
	<style>
		.errorMessage
		{
			color: red;
		}
	</style>
	<p>It seems you don't belong in any guild, do you wish to create one?</p>
	<label for="guildName">Guild name:
		<input id="guildName" type="text"></input>
	</label>
	<div id="nameError" class="errorMessage"></div>
	<label for="guildAnagram">Guild name:
		<input id="guildAnagram" type="text"></input>
	</label>
	<div id="anagramError" class="errorMessage"></div>
	<div id="errorField" class="errorMessage"></div>
	<button class="createGuild">Create guild</button>
</div>
