<p>Officers prerogatives</p>
<label for="memberToInvite" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="nonMemberToInvite"></input>
</label>
<button class="inviteMember">Invite member</button>

<div class="nicknameSearchResult" id="inviteMemberResult"></div>

<label for="memberToKick" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToKick"></input>
</label>
<button class="kickMember">Kick member</button>
<div class="nicknameSearchResult" id="kickMemberResult"></div>
