<p>Owner prerogative</p>
<label for="guildName">
	<input id="guildName" type="text"></input>
</label>
<button class="updateGuildName">Update guild name</button>
<div id="nameError" class="errorMessage"></div>

<label for="guildAnagram">
	<input id="guildAnagram" type="text"></input>
</label>
<button class="updateGuildAnagram">Update guild anagram</button>
<div id="anagramError" class="errorMessage"></div>
<div></div>

<label for="memberToPromote" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToPromote"></input>
</label>
<button class="promoteMember">Promote officer</button>
<div class="nicknameSearchResult" id="promoteMemberResult"></div>

<label for="memberToRelegate" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToRelegate"></input>
</label>
<button class="relegateMember">Relegate to member</button>
<div class="nicknameSearchResult" id="relegateMemberResult"></div>
