database/*
*.rbc
capybara-*.html
.rspec
srcs/db/*.sqlite3
srcs/db/*.sqlite3-journal
srcs/db/*.sqlite3-[0-9]*
srcs/public/system
srcs/coverage/
srcs/spec/tmp
*.orig
srcs/rerun.txt
srcs.pickle-email-*.html

# Ignore all logfiles and tempfiles.
srcs/log/*
srcs/tmp/*
!/srcs/log/.keep
!/srcs/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
srcs/config/initializers/secret_token.rb
srcs/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
srcs/.env
srcs/.env.*

## Environment normalization:
srcs/.bundle
srcs/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
srcs/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components

# Ignore pow environment settings
srcs/.powenv

# Ignore Byebug command history file.
srcs/.byebug_history

# Ignore node_modules
srcs/node_modules/
node_modules/

# Ignore precompiled javascript packs
srcs/public/packs
srcs/public/packs-test
srcs/public/assets

# Ignore yarn files
srcs/yarn-error.log
srcs/yarn-debug.log*
srcs/.yarn-integrity

# Ignore uploaded files in development
srcs/storage/*
!/srcs/storage/.keep
srcs/public/uploads

#
srcs/swagger/v1/swagger.json
srcs/vendor/assets
srcs/.config
srcs/coverage
.idea

node_modules
database

# package.json
package-lock.json
# .eslintrc.json
.eslintignore
.eslintrc.yml