.topnav {
    background-image: url("../../images/background.jpg");    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 8%;
    width: 100%;
}

.topnav-btn {
    font-family: Quantico-Regular;
    color: white;
    text-decoration: none;
    font-size: 110%;
}

.logo {
    font-family: MajorMonoDisplay-Regular;
    font-size: 150%;
    align-content: flex-start;
}

.logo::before {
    content: 'PonG';
    color: yellow;
}

.logo::after {
    content: 'Ame';
    color: white;
}

