<ul class="subNavBar">
		<li id="currentWar" ><span class="subNavBarEl">War</span></li>
		<li id="lastWars"><span class="subNavBarEl">Last wars</span></li>
		<li id="members"> <span class="subNavBarEl">Members</span></li>
</ul>
