body {
    background-color: white;

    margin: 0;
    padding: 0;

    z-index: 0;
}

p {
    color: black;
    font-family: Roboto-Regular;
}

:root {
    --primary-color:#F2C94C;
    --secondary-color: #fff;
    --table-color: #1B2534;
}

button {
    background-color: var(--primary-color);
    color: #000;
    border: none;
    font-family: Roboto-Regular;
    font-size: 16px;
}
