<div class="subNavBar">
		<li id="matchHistory"> <span class="subNavBarEl">Matches</span></li>
		<li id="achivements"> <span class="subNavBarEl">Achivements</span></li>
		<li id="profileGuild"> <span class="subNavBarEl">Guild</span></li>
		<li id="friends"> <span class="subNavBarEl">friends</span></li>
</div>
