/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body
 {
 	font-family: Arial, "Arial black", "Sans-serif";
 	font-size: 1.2em;
 	background-color: rgb(52, 61, 70);
 	color: white;
 	word-wrap: break-word;
 }

 footer
 {
 	clear: both;
 	text-align: right;
 }

 #header
 {
 	border-bottom: 30px solid  rgba(3, 221, 176, 0.5);
 	border-top: 30px solid  rgba(3, 221, 176, 0.5);
 	text-align: center;
 	margin: 0px 60px;
 	min-width: 750px;

 }
 #menu
 {
 	background-color: rgb(109, 50, 176);
 	color: white;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: nowrap;
 	justify-content: center;
 	justify-content:space-around;
 	margin: 20px 45px;
 	min-width: 750px;
 	list-style-type: none;
 }
 .menuel
 {
 	text-decoration: none;
 	color: white;
 	margin: auto;
 }
 a
 {
 	text-decoration: none;
 	color: rgb(122, 219, 210);
 }
 #suprasection
 {
 	border-left: 15px ridge rgba(3, 221, 176, 0.3);
 	border-right: 15px groove rgba(3, 221, 176, 0.3);
 	padding: 10px 15px

 }
