// Place all the styles related to the pong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p
{
	width: 60%;
	min-height: 20px;
	min-width: 300px;
}
.liste
{
	border: 5px solid rgba(3, 221, 176, 0.5);
	width: 350px;

	margin-left: 35px;
	padding: 12px;
	padding-left: 40px;
}

.spec
{
	border: 5px solid rgba(3, 221, 176, 0.5);
	padding: 10px 30px;;
	width: 250px;
	height: 250px;
	overflow: auto;
}

#play_button
{
	text-align: center;
}

#game_window
{
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	border: 5px solid rgba(3, 221, 176, 0.5);
	margin-left: auto;
	margin-right: auto;
}

#page1
{
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	float: right;
}
#page2
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
