.chat .parameters .left-menu .menu
.sub-menu:hover {
    background: #364050;
}

.chat .parameters .left-menu .menu
.sub-menu.open {
    background: #202529;
}

.dots-container:hover {
    background: #364050;
}

.dots-container.open {
    background: #364050;
}

.chat .parameters .right-menu .members
.admin-rights .el:hover {
    background: #15181D;
}

.chat 
.droplistBlockViewProfile .el:hover {
    background: #15181D;
}