<div id="adminView">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Status</th>
            <th>Banned</th>
        </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{ this.id }} </td>
                    <td>{{ this.nickname }}</td>
                    <td>{{ this.status }}</td>
                    <td><input type="checkbox" name="banned" for={{this.id}} class="banned" {{#if this.banned }}checked>{{/if}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>